/*
provide style to html file.
created by Maulik Patel
*/
body{
	margin: 0;
}
/*
header style.
*/
header
	{
		background: Green;
		color: blue;
		padding: 15px 15px 15px 15px;
	}
	
header h1{
	margin: 0;
	display: inline;
	
}

nav ul{
	margin: 5;
	display: inline;
	padding:5 0 0 15px;
}


nav ul li{
	display: inline-block;
	list-style-type: none;
	background: green;
	color: white;
	padding: 5px 100px;
}

nav ul li a{
	color: white;
}
.row{
	clear:both;
		
}
/*percentage will provide flexibility with all size screen. in short
column will automatic adjust based on screen size.*/
.col{
	background: blue;
	/*provide rounded border of column*/
	border-radius: 10px;
	float: left;
	padding:10px .5%;
	color: white;
	margin: .5%;
	width: 31%;
}
footer{
	clear: :both;
		
}
